:root {
  --gameboard-size: 330px;
  --cell-color: #e2e8f0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.gameboard {
  width: var(--gameboard-size);
  height: var(--gameboard-size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.cell {
  background-color: var(--cell-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 3rem;
}
