@font-face {
  font-family: "retro computer";
  src: url(./fonts/retro_computer.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

:root {
  --gameboard-size: 330px;
  --cell-color: #e2e8f0;
  --font-primary: "roboto", sans-serif;
  --font-header: "retro computer", monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
}

button {
  border: none;
  padding: 1em;
  margin: 2em 1em;
  font-family: var(--font-primary);
  border-radius: 5px;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

.welcome-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-screen h1 {
  font-family: var(--font-header);
  font-size: 84px;
}

.hidden {
  display: none !important;
}

.gameboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameboard-container h1 {
  font-family: var(--font-header);
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-bottom: 1.25em;
}

.gameboard {
  width: var(--gameboard-size);
  height: var(--gameboard-size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.cell {
  background-color: var(--cell-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-card-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.message-card-container .message-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 1.5em 0em 1.5em;
  border-radius: 5px;
  background: #fff;
}

.message-card-container .message-card .message {
  font-size: 19px;
}
